ion-content{
  ion-list{
    ion-item{
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #262b3124;

      span{
        width: 108px;
        display: inline-block;
      }
    }
  }

}
